/* Parametre des polices */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    font-family: 'Raleway', Arial, Verdana, sans-serif;
}


/* Parametre de la page */

body{
    margin: 0;
    padding: 0;
}

#main_container{
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: large;
}

h2{
    font-size: bold;
}

h3{
    font-size: bold;
    font-size: 0.8em;
}

a{
    text-decoration: none;
}


/* Header */

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}

#logo{
    padding-top: 40px;
}

#nav{
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.nav_link{
    display: flex;
}

.nav_link>a{
    padding: 30px 30px 0px 30px;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    flex: auto;
    color: black;
}

#nav>div>a:hover{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

.signUp{
    padding: 30px 30px 0px 30px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    flex: auto;
    color: #0065FC;
}

.signUp:hover{
    color: #0065FC;
    border-top: 1px solid #0065FC;
}

/* Section rechercher */

#search
{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

#search>p{
    display: block;
    height: 5px;
    line-height: 5px;
    padding-bottom: 10px;
}

#search>h1{
    display: block;
    height: 0px;
    line-height: 0px;
}

/* Barre de recherche */

#search_bar{
    display: flex;
    height: 40px;
    width: 350px;
    border-radius: 15px;
    margin-bottom: 20px;
}

#gps{
    flex: auto;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    position: relative;
    width: 15px;
}

.fa-map-marker-alt{
    color: black;
    position: absolute;
    padding-left: 17px;
    padding-top: 11px;
}

#search_bar>input{
    flex: auto;
    border: hidden;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-weight: bold;
    padding-left: 10px;
}

#search_bar>button{
    border: hidden;
    flex:auto;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    color: white;
}

/* section filtre */

#filter_section{
    display: flex;
    flex-direction: row;
}

#filter_title{
    margin-bottom: 20px;
    padding-top: inherit;
    padding-right: 20px;
}

#filter_bloc{
    display: flex;
    flex-flow: row wrap;
}

.filter_button{
    display: flex;
    justify-content: space-between;
    border-radius: 200px;
    border: 3px #F2F2F2 solid;
    cursor: pointer;
    height: 40px;
    position: relative;
    padding-left: 50px;
    padding-right: 16px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.filter_button>p{
    font-weight: bold;
    font-size: 0.9em;
    line-height: 11px;
}

.filter_button>i{
    line-height: 41px;
    color: #0065FC;
    position: absolute;
    width: 40px;
    text-align: center;
    background: #DEEBFF;
    left: -2px;
    border-radius: 100%;;
}

#info{
    display: flex;
    flex-direction: row;
}

.fa-info{
    border: 2px solid #F2F2F2;
    width: 25px;
    height: 25px;
    font-size: 14px;
    color: #0065FC;
    text-align: center;
    border-radius: 100%;
    margin-right: 15px;
}

#info_text{
    line-height:36px;
    font-size: 0.9em;
}

/* Section Résultats */

#result
{
    display: flex;
    flex-direction: row;
    gap: 35px;
    padding: 30px 30px 40px 30px;
    height: 550px;
}

/* Section Hebergement */

#lodging_bloc{
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 15px;
    padding: 15px 25px 25px 25px;
}

/*Section popularité */

#popularity_bloc{
    width: 30%;
    background-color:#F2F2F2;
    border-radius: 15px;
    padding: 15px 30px 25px 30px; 
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#popularity_title{
    display: inline-flex;
    justify-content: space-between;
}

#popularity_title>i{
    padding-top: 18px;
}

#popularity_link{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.popularity_items{
    height: 132.35px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.popularity_items>img{
    width: 35%;
    border-radius: 15px 0px 0px 15px;
    padding: 5px;
}

.popularity_items_info{
    padding-left: 10px;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stars{
    padding-bottom: 10px;
    color: #0065FC;
    font-size: 0.9em;
}

/* Section Activités */

#activity
{
    padding: 30px 30px 40px 30px;
}

#activity_link{
    display: flex;
    flex-direction: column;
}

#activity_bloc{
    display: flex;  
    min-height: 400px;
    gap: 35px;
}

#activity_bloc>*{
    width: 23%;
}

.sub_title{
    margin-left: 10px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
}

/* Activites seul */

.activity_1{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow:  0px 2px 2px rgba(128, 128, 128, 0.479);
}

.activity_1>img{
    border-radius: 15px 15px 0px 0px;
    flex-grow: 1;
}

/* Activites double */

.activity_2{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: flex-start;
}

#big{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 61%;
    border-radius: 15px;
    box-shadow:  0px 2px 2px rgba(128, 128, 128, 0.479); 
}

#big>img{
    border-radius: 15px 15px 0px 0px;
}


#small{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 32%;
    border-radius: 15px;
    box-shadow:  0px 2px 2px rgba(128, 128, 128, 0.479); 
}

#small>img{
    border-radius: 15px 15px 0px 0px;
}

/* Footer */

footer
{
    display: flex;
    background-color:#F2F2F2 ;
    padding-left: 30px;
    padding-top: 20px;
}

Footer>*>a{
    padding-bottom: 8px;
    color: black;
}

Footer>*>a:hover{
    color: #0065FC;
}

footer>*{
    width: 33%;
    display: flex;
    flex-direction: column;
}